html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 760px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

.control {
    flex: 1;
}

.can {
    float: right;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img-wrapper {
    margin-top: 30px;
    position: relative;
    width: 250px;
    height: 250px;
    text-align: center;
}

.img {
    max-width: 250px;
    max-height: 250px;
}

.circle {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.is-circle {
    user-select: none;
}
